# Quartus
db
incremental_db
output_files
*.qpf
*.qsf
*.bak
*.rpt
simulation
*.qws
SP_unit
*.xml
*.nlv
*.qsys
*.sopcinfo
*.qarlog
*.stp
*_restored
transcript
*.wlf
*.vstf
wlftzr94gk
synthesis
*_bb.v
*_inst.*
*.bsf
*.cmp
*.csv
*.html
*.spd
*.qdf
*_reports

# ModelSim
work

# word
~*.doc?
*.tmp
*.zip

# NIOSII
workspace
*/software/*_bsp
*/software/*/.settings
*/software/*/obj
*/software/*/*project
*/software/*/*.map
*/software/*/*.elf
*/software/*/Makefile
*/software/*/*.txt
*/software/*/*.objdump
*/software/*/*-app